
@{
    ViewData["Title"] = "Index";
}

<div class="align-self-xl-center">
    <div class="btn-group-vertical">
        <a class="btn btn-info" asp-action="Account">Edit your account</a>
        <hr />
        <a class="btn btn-info" asp-controller="Visit" asp-action="Create">Book a visit</a>
        <hr />
        <a class="btn btn-info" asp-controller="Visit" asp-action="Index">View all your visits</a>
    </div>
</div>
